@media (min-width: 320px) and (max-width: 480px) {
    body {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    /* 
*{
    outline: 1px solid red;
} */

    /* --- HERO CONTAINER & HEADER --- */
    .hero-container {
        width: 110%;
        height: 100dvh;
        background-color: #ddeef7;
    }


    #menubar {
        display: none;
        /* start hidden */
        background-color: #ddeef7;
        /* optional: dropdown effect */
        padding: 2px;
        border-radius: 8px;
        position: absolute;
        top: 57px;
        /* adjust below navbar */
        right: 32px;
        z-index: 1000;
        height: 150px;
        width: 140px;
    }

    #menubar ul {
        display: block;
        padding: 10px;
    }

    .icon {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-right: 55px;
        font-size: 7vw;
        margin-top: 10px;
        width: 18px;



    }



    .hero-background-graphic {

        margin-left: auto;
        margin-right: auto;

    }



    .hero-text-content h1 {

        margin-top: 35px;
        font-size: 15vw;
        font-weight: 300;
    }



    .watermark-image {
        max-width: 400px;
        margin-left: -12px;
    }

    .subtitle {

        font-size: 4.0vw;
        margin-left: 130px;
        margin-top: 16px;
    }

    .logo-text {
        font-size: 4vw;
    }

    .subtitle {
        letter-spacing: 1.7px;
        text-align: center;
        padding-left: 42px;
    }

    .tagline {
        font-size: 18px;
        margin-left: -3px;
    }

    /* ABOUT US SECTION */

    .about-section {
        width: 100%;
        height: 110dvh;

    }

    .about-container {
        display: inline;
    }

    .about-img {
        width: 90%;
        margin-top: 100px;
        margin-bottom: 40px;
        margin-left: 40px;
        margin-right: 40px;

    }

    .about-text h2 {
        font-weight: 900;
        font-size: 8vw;


    }

    .about-text p {
        font-weight: 600;
        font-size: medium;
        margin: -10px 0px;
        width: 254px;
    }

    /* .slide1{
    width: 100%;
    height:fit-content;
} */
    .values-section {
        padding: 20px;

    }

    .values-title h2 {
        font-size: 8vw;
        margin-top: -170px;
        color: hsla(0, 0%, 4%, 0.508);
        font-weight: 8600;
    }


    .values-content {
        position: relative;
    }

    .vision {

        height: 110px;
        width: 210px;
        position: absolute;
        top: -30px;
        left: -390px;
    }


    .icon-box {
        height: 15px;
        width: 15px;
    }

    .yellow {
        font-size: 5vw;
    }

    .d1 {
        position: absolute;
        left: 50px;
        top: 45px;
        font-size: 2.5vw;
        font-weight: 600;

    }

    .mission {

        position: absolute;
        top: 92px;
        left: -390px;
        height: 110px;
        width: 210px;
    }

    .icon-box {
        height: 15px;
        width: 15px;
    }

    .white {
        font-size: 5vw;
    }

    .d2 {
        position: absolute;
        left: 50px;
        top: 45px;
        font-size: 2.5vw;
        font-weight: 600;

    }

    .values-image img {
        margin-top: 230px;
        width: 334px;
        height: 75px;
    }


    .yellow-bar {
        width: 43px;
        height: 350px;
        background-color: hsl(209, 60%, 74%);
        margin-top: 90px;
    }

    .arr3 {
        margin-left: 65%;
        margin-top: 20px;
    }

    /* products and services */
    #slide1 {
        margin-top: -35px;
    }

    .slide-content {
        display: inline;

    }

    .text-content h2 {
        font-size: 2.3em;

    }

    .main-image1 {


        margin-top: -104px;
        right: -11px;
    }

    .main-image2 {
        display: none;
    }

    .yellow-box {
        display: none;
    }

    .nav-arrow {
        margin-right: -60px;
    }

    /* MARKET ANALYSIS */
    .slide {
        padding: 56px;
    }

    .text-content h1 {
        margin-top: 18px;
        /*420px include market-chat*/
        font-size: 2.3em;
        margin-bottom: 0px;
    }

    .title-a {
        margin: 5px 12px;
    }

    .title-b {
        margin: 2px;
        margin-top: 7px;
    }

    .chart-content {
        display: none;
    }

    .prev-arrow {
        margin-right: 10px;
    }

    /* BUSINESS MODEL */
    #slide-3 {
        padding: 20px;
        margin-top: -63px;
    }

    .business-header h1 {
        font-size: 20px;
        padding-top: 50px;
    }

    .business-box {
        margin: -5px;
        height: 250px;
        margin-left: 30px;
    }

    .business-text h3 {
        margin: -5px 0px -4px;
        font-size: 18px;
    }

    .business-text p {
        margin-top: 12px;
        width: 180px;
        font-size: 13px;
        color: rgb(231, 231, 231);
        /* overflow: auto; */
    }

    .business-image-wrapper img {
        height: 200px;
    }


    /* .nav-arrow{
    position: absolute;
    top:0px;
} */


    /* TEAM AND LEADERSHIP */

    #mid {
        padding-top: 14px;
    }

    .team {
        margin-left: -50px;
        font-size: 1.7em;
    }

    .cont {
        display: inline;
    }

    .cont img {
        width: 264px;
        margin-left: -59px;
    }

    .cont p {
        width: 355px;
        margin-left: 27px;
        font-size: medium;

    }

    /* gallery */
    #gallery {
        margin-top: 80px;
    }

    .gallery {
        width: 77%;
        height: 300px;
        margin-left: -53px;
    }

    .inner-box {
        margin-right: -12px;
    }

    #gallery h2 {
        font-size: 20px;
        text-align: left;
        margin-left: 45px;
    }

    /* connect details */
    #part2 {
        display: inline;
    }

    .contact li {
        font-size: 11px;
    }

    .contact {
        width: 80%;
        height: 317px;
        margin-left: 56px;
    }

    .getintouch {
        margin-top: 11px;
        width: 80%;
        height: 401px;
        margin-left: 56px;
    }

    .getintouch {
        margin-top: 12px;
    }

    #Message {
        width: 92%;
    }

    .head3 {
        font-size: 50px;
    }

    .head4 {
        font-size: 50px;
    }

    .last {
        font-size: 21px;
        margin-top: -40px;
    }


}


/*Tablet view*/

/*Home page*/
@media (min-width: 481px) and (max-width: 768px) {
    html {
        position: relative;
    }

    /* .hero-container{
    border: 3px solid red;

  } */

    /* 
  .main-nav{
    display: none;
  } */


    .logo-image {
        height: 6vh;
        padding-left: 7px;
    }

    .main-nav ul {
        flex-direction: row;
        flex-wrap: wrap;

    }

    .main-nav ul li a {
        color: white;
        margin-left: 3px;
        gap: 5px;
    }

    #menubar {
        display: none;
        /* start hidden */
        flex-direction: row;
        /*stack vertically when opened*/
        background-color: rgba(14, 59, 222, 0.8);
        /* optional: dropdown effect */
        padding: 2px;
        border-radius: 8px;
        position: absolute;
        top: 5px;
        right: 72px;
        z-index: 1000;
        height: 73px;
        width: 262px;
    }

    .icon {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-right: 2px;
        font-size: 6vw;
        margin-top: 10px;



    }


    .tagline {
        padding-top: 25px;
    }

    .subtitle {
        float: right;
        font-size: 2.5vw;
        margin-top: 25px;
    }
}


/*About us*/
@media (min-width: 481px) and (max-width: 768px) {
    html {
        position: relative;
    }

    /* .slideactive{
        border: 3px solid blue;
    } */

    /* .about-container{
        flex-direction: row;
        flex-wrap: wrap;
    } */

    /* 
    .about-section{
        height: 350px;
        width: 700px;
    } */

    .about-text h2 {
        position: absolute;
        top: 85px;
        left: 65px;
        font-size: 3vw;
        width: 360px;

    }

    .about-text p {
        font-size: 1.7vw;
        min-width: 54vw;
        max-width: 50vw;
        margin-left: 57px;
        margin-top: -14px;
        padding-bottom: 35px;

    }

    .about-img {
        margin-top: 5px;
    }

    .about-img img {

        min-width: 25vw;
        max-width: 55vw;
        height: 255px;
    }

    .about-container {
        gap: 60px;
        min-width: 380px;
        max-width: 500px;
    }


}


/*company values*/
@media (min-width: 481px) and (max-width: 768px) {
    html {
        position: relative;
    }

    /* .slide1{
        border:3px solid maroon;
    } */



    .values-title h2 {
        font-size: 40px;
        margin-top: 10px;
        margin-left: -30px;

    }

    .yellow-bar {
        /* height: 10px;
        width: 75vw;
        position: absolute;
        top: 90px;
        left: -20px;
        border-radius: 10px; */
        display: none;
    }

    .values-content {
        min-width: 150px;
        height: 196px;
        max-width: 725px;
        margin-left: -40px;
        position: absolute;
        top: 350px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: left;
        margin-top: -85px;


    }


       .vision {

        height: 110px;
        width: 210px;
        position: absolute;
        top: -30px;
        left: 0px;
    }


    .icon-box {
        height: 15px;
        width: 15px;
    }

    .yellow {
        font-size: 5vw;
    }

    .d1 {
        position: absolute;
        left: 50px;
        top: 70px;
        font-size: 1.5vw;
        font-weight: 600;

    }



    .mission {

        position: absolute;
        top: -24px;
        left: 230px;
        height: 110px;
        width: 210px;
    }

    .icon-box {
        height: 15px;
        width: 15px;
    }

    .white {
        font-size: 5vw;

    }

    .d2 {
        position: absolute;
        left: 50px;
        top: 65px;
        font-size: 1.5vw;
        font-weight: 600;

    }


    .values-image img {
        position: absolute;
        top: 440px;
        left: 2px;
        min-width: 75vw;


    }

    .arr3 {
        position: absolute;
        top: 620px;

    }
}

/*services*/
@media (min-width: 481px) and (max-width: 768px) {
    html {
        position: relative;
    }

    /* #slide-1{
        border: 3px solid darkcyan;
    } */

    .text-content {

        min-width: 250px;
        margin-left: -60px;

    }

    .text-content h2 {
        font-size: 38px;
        margin-top: -85px;
        ;
    }

    .text-content p {
        margin-top: 86px;
        font-size: 13px;
        font-weight: 600;
        text-align: justify;
    }


    .main-image1 {
        min-width: 30vw;
        max-width: 60vw;
        /* max-width: 18vw; */
        /* margin-top: -160px;
        margin-left: -12px; */

        /* width: 28vw; */
        position: relative;
        top: 5vw;
        left: -25px;
    }


    .main-image2 {
        /* position: fixed;
        left: 40px;
        top: 50px;
        width: 25vw; */
        /* min-width: 18vw;
        max-width: 1vw; */
        display: none;
    }


    .yellow-box {
        /* position: absolute;
        top: 161px;
        left: 38px;
        min-width: 20px;
        max-width:12px; */
        display: none;
    }



}


/*market analysis */
@media (min-width: 481px) and (max-width: 768px) {
    html {
        position: relative;
    }

    /* #slide-2{
        border: 2px solid coral;
    } */

    .text-content h1 {
        font-size: 30px;
        margin-top: 15px;
        font-weight: 800;
        margin-left: 12px;
    }

    .text-content h3 {
        margin-left: 8px;
    }

    .text-content p {
        margin-top: -12px;
        font-size: 13px;
        font-weight: 600;
        text-align: justify;
    }


    .chart-content {
        min-width: 31vw;
        max-width: 150vw;
        margin-left: -30px;
    }



}


/*business model*/
@media (min-width: 481px) and (max-width: 768px) {
    html {
        position: relative;
    }

    #slide-3
    /* {
        border: 3px solid yellowgreen;
    } */

    .business-header {

        /* margin-left: -35px; */
        min-width: 400px;
        max-width: 550px;
    }

    .business-header h1 {
        text-align: left;
        font-size: 24px;
        font-weight: 800;


    }

    .business-header p {
        text-align: left;
        font-weight: 600;

    }

    .business-model-container {
        gap: 12px;
    }

    .business-box {
        margin-left: -70px;
        min-width: 90vw;
        height: 200px;
        margin-top: -20px;
    }

    .business-box h3 {
        font-size: 22px;
    }

    .business-box p {
        font-size: 2vw;
        font-weight: 1200;
    }

    .business-image-wrapper {
        width: 100%;
        height: 160px;
    }


    .business-image-wrapper img {

        height: 150px;
        width: 100%;

        /* max-width: 50px; */
    }

    #bb {}

}


/*Our Team*/
@media (min-width: 481px) and (max-width: 768px) {
    html {
        position: relative;
    }

    /* 
    #Ourteam{
        border: 3px solid violet;
    } */

    #mid {
        padding-top: 2px;
    }


    .heading p {
        /* border: 2px solid red; */
        margin-left: -105px;
        margin-top: 10px;
        float: left;
        font-size: 35px;
    }

    .cont {
        /* min-width: 400px; */
        max-width: 90vw;
        height: 439px;
        margin-left: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .cont img {
        margin-left: 35px;
        /* min-width: 95vw; */
        max-width: 75vw;
        height: 36vh;
        margin-top: 15px;
    }

    .cont p {
        font-size: 2.1vw;
        font-weight: 670;
        margin-top: -30px;
    }

}


/*Gallery page*/
@media (min-width: 481px) and (max-width: 768px) {
    html {
        position: relative;
    }

    /* #gallery{
        border: 3px solid cornflowerblue;
    } */
    /* .keypeople h2{
        font-size: 26px;
        font-weight: 600;
        text-align: left;
        margin-left: 25px;
    }

    .kp{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;
    }

    .kp img{
        width: 210px;
        height: 190px;
    }


     .imgslider{
        position: relative;
    } */

    /* .slider h2{
        font-size: 25px;
        text-align: left;
    }

    .slideh {
        min-width: 35vw;
        max-width: 55vw;
        height: 350px;
    }

    .slideh img {
        min-width: 33vw;
        max-width: 55vw;
        height: 350px;
    }

    .prev,.next{
        top: 50%;
    } */

    /* 
    .Album h2{
        font-size: 26px;
        font-weight: 600;
        text-align: left;
        margin-left: 25px;
    }

    .Events{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 12px;
        
    }

    .Events img{
         width: 150px;
        height: 150px;
    } */

    #gallery h2{
        font-size: 25px;
    }
    .gallery {
        /* border: 2px solid red; */
        position: relative;
        left: 9%;
        max-width: 81vw;
        height: 375px;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
        margin-top: 26px;
    }

    .gallery img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 1s ease-in;
    }

    .gallery img.activeg {
        opacity: 1;
    }

}


/*Connect page*/
@media (min-width: 481px) and (max-width: 768px) {
    html {
        position: relative;
        height: 100vh;
    }

    /* #connect{
        border:2px solid rgb(255, 4, 130);
    } */


    #part2 {
        /* border: 2px solid red;    */
        /* flex-direction: row; */
        /* flex-wrap: wrap;  */
        padding-top: 52px;
    }


    .contact {

        list-style-type: none;
        border-radius: 30px;
        padding: 20px;
        min-width: 220px;
        max-width: 500px;
        height: 340px;
        margin: 25px 40px 30px 40px;
        background-color: #ddeef7;
        box-sizing: border-box;
        margin-left: 4px;
        margin-top: 75px;
    }

    .contact h2 {
        color: hsl(0, 2%, 11%);
        font-size: 2vw;
        margin-bottom: 15px;
        font-family: Arial, sans-serif;
    }

    .contact ul {
        padding: 0;
        margin: 0;
    }

    .contact li {
        display: flex;
        align-items: center;
        /* padding: 5px 0; */
        font-style: italic;
        color: hsl(243, 80%, 48%);
        font-size: 2vw;


        /* padding-top: -50px; */
    }

    .contact i {
        color: hwb(250 35% 62%);
        /* yellow icons */
        font-size: 15px;
        margin-left: -50px;
        margin-right: 10px;
        width: 20px;
        /* text-align: center; */
        padding-top: -10px;
        padding-bottom: 5px;
    }



    .dotted-line {

        /* padding-top: -3px; */
        border-bottom: 2px dashed lab(2.8% 0.27 0.09);


    }

    .contact span {
        display: inline-block;
        padding-left: 28px;
        color: hsl(243, 80%, 48%);
        font-weight: 700;
    }

    .fa {
        padding-left: 60px;
    }


    .getintouch {

        /* margin-left: -35px;
        margin-top: 75px;
        margin-right: 3px;
        width: 320px;
        height: 320px;
        border-radius: 30px;
        padding: 20px;
        background-color: #a3cbf0;
        box-sizing: border-box; */

        min-width: 220px;
        max-width: 500px;
        margin-left: -35px;
        height: 340px;
        margin-top: 75px;
        margin-right: 3px;
    }



    .getintouch h2 {
        color: #100f0f;
        margin-bottom: 10px;
        font-size: 2vw;
    }

    .dotted-lines {
        border-bottom: 2px dashed lab(2.8% 0.27 0.09);
        padding-top: 2px;
        padding-bottom: 1px;

    }


    .getintouch label {
        color: hsl(243, 80%, 48%);
        font-weight: bold;
        display: block;
        float: left;
        font-size: 2vw;
        font-weight: 700;


    }

    .getintouch input {
        background: transparent;
        border: none;
        outline: none;
        width: 20%;
        color: #0b1fb9;
        font-size: 14px;

    }


    .getintouch textarea {
        width: 93%;
        height: 60px;
        border-radius: 20px;
        border: 2px solid hsl(231, 77%, 45%);
        padding: 10px;
        font-family: cursive;
        background: transparent;
        color: rgb(9, 9, 9);
        font-weight: 550px;
        overflow-y: auto;
    }


    .getintouch button {
        display: block;
        margin: 5px auto 0;
        background-color: oklab(83.023% -0.04181 -0.0792);
        border: none;
        padding: 8px 25px;
        border-radius: 25px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
    }

    .getintouch button:hover {
        background-color: hsl(209, 60%, 49%);
    }



    .end {

        margin-top: 35px;
    }

    .third {
        margin-top: 10px;
        height: 100px;
        text-align: center;
    }

    .third>p {
        display: inline;

    }

    .head3 {
        font-size: 75.4px;
        color: hsl(199, 100%, 26%);

    }

    .head4 {
        font-size: 75.4px;
        color: hsl(199, 100%, 26%);
    }

    .small {
        font-size: 18px;
        color: hsl(199, 100%, 26%);
    }

    .last {
        text-align: center;
        margin-top: -13px;
        margin-left: 900px;
        font-size: 26.6px;
        font-style: italic;
        color: hsl(199, 100%, 26%);
    }

    .end {
        margin-left: -37em;
    }


    .hidden {
        display: none !important;
    }

}

@media (min-width:769px) and (max-width:850px){
        html {
        position: relative;
    }
    body{
        width:100%;
    }

    /* .hero-container{
    border: 3px solid red;

  } */

    /* 
  .main-nav{
    display: none;
  } */


    .logo-image {
        height: 6vh;
        padding-left: 7px;
    }

    .main-nav ul {
        flex-direction: row;
        flex-wrap: wrap;

    }

    .main-nav ul li a {
        color: white;
        margin-left: 3px;
        gap: 5px;
    }

    #menubar {
        display: none;
        /* start hidden */
        flex-direction: row;
        /*stack vertically when opened*/
        background-color: rgba(14, 59, 222, 0.8);
        /* optional: dropdown effect */
        padding: 2px;
        border-radius: 8px;
        position: absolute;
        top: 5px;
        right: 72px;
        z-index: 1000;
        height: 73px;
        width: 262px;
    }

    .icon {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-right: 2px;
        font-size: 6vw;
        margin-top: 10px;



    }


    .tagline {
        padding-top: 25px;
    }

    .subtitle {
        float: right;
        font-size: 2.5vw;
        margin-top: 25px;
    }

     #mid {
        padding-top: 14px;
    }

    .team {
        margin-left: -50px;
        font-size: 1.7em;
    }

    .cont {
        display: inline;
    }

    .cont img {
        width: 365px;
        margin-left: 47px;
        margin-top: 32px;
    }

    .cont p {
       width: 444px;
        margin-left: 134px;
        font-size: medium;

    }
/* key products and services */
    .main-image2 {
        
        display: none;
    }
    .yellow-box{
        display:none;
    }

    /* keypeople */

    .gallery{
        width:60%;
    }
/* about us */
.about-container {
    display: inline;
}
.about-img {
        width: 90%;
        margin-top: 100px;
        margin-bottom: 40px;
        margin-left: 40px;
        margin-right: 40px;

    }

    .about-text h2 {
        text-align: center;
        font-weight: 900;
        font-size: 8vw;


    }

    .about-text p {
        font-weight: 600;
        font-size: medium;
                margin: -64px 0px;
        margin-left: 67px;
        margin-right: 40px;
        width: 80%;
    }

    .yellow-bar{
        height: 460px;
       }
    .values-content
    {
        position:relative;
    }
    .values-title h2{
        font-size: 42px;
    margin-top: -186px;
    color: #555151;

    }
    .values-image{
            margin-top: -68px;
            width: 95%;
    }
   
    .vision{
        margin-left: -388px;
    margin-top: 24px;
    }

    .mission{
        position: absolute;
        top: 10px;
        margin-left: -60px;

    }
     .main-image1{
        width: 300px;
    }


    .team{
        margin-left: 10px;
    }
   


    .gallery{
            margin-left: -86px;
    }

    #part2 {
        display: inline;
    }

    .contact li {
        font-size: 17px;
    }

    .contact {
        width: 80%;
        height: 401px;
        margin-left: 56px;
    }

    .getintouch {
        margin-top: 11px;
        width: 80%;
        height: 401px;
        margin-left: 56px;
    }

    .getintouch {
        margin-top: 12px;
    }

    #Message {
        width: 92%;
    }

    .head3 {
        font-size: 50px;
    }

    .head4 {
        font-size: 50px;
    }

    .last {
        font-size: 21px;
        margin-top: -40px;
    }


}


